@mixin text($color, $weight) {
  font-size: 14px;
  font-style: normal;
  font-weight: $weight;
  line-height: 20px;
  color: $color;
}

.primary {
  @include text(#333238, 900);
}

.secondary {
  @include text(#737278, 500);
}

.tertiary {
  @include text(#89888d, 400);
}

.text {
  &-bold {
    font-weight: bold;
  }
  &-underline {
    text-decoration: underline;
  }
  &-bold-underline {
    font-weight: bold;
    text-decoration: underline;
  }
}
