@mixin text($size, $weight, $height) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}

@mixin container($align, $gap) {
  display: flex;
  justify-content: flex-start;
  align-items: $align;

  gap: $gap;
}

p {
  margin: 0;
}

body {
  margin: 0;
}

.root {
  @include container(center, 0);

  position: relative;

  min-width: 1920px;
  min-height: 960px;
  height: 100vh;
  width: auto;

  background-color: #2b2838;
  padding-left: 16vw;

  &-dark {
    background-color: #413b58;
  }
}

.Main-title {
  @include text(128px, 600, 1);

  letter-spacing: -2.56px;

  color: #ffffff;

  margin: 0;

  &-dark {
    color: #645858;
  }
}

.Kit {
  @include text(45px, 600px, 1.156);

  color: #7b58cf;

  background-color: #ffffff;

  border-radius: 8px;
  padding: 8px 24px;
  margin-bottom: 31px;

  &-dark {
    background-color: #000000;
  }
}

.Sub-title {
  @include text(72px, 400, 1.11);

  color: #e1d8f9;

  &-dark {
    color: #35275c;
  }
}

.logo {
  &__base-container {
    @include container(center, 55px);
  }

  &__sub-container {
    @include container(flex-end, 54px);
  }
}

.gitlab {
  @include container(flex-end, 18.5px);

  position: absolute;

  bottom: 106px;
  right: 320px;

  &__text {
    @include text(60px, 400, 1.25);

    color: #ffffff;

    &-dark {
      color: #000000;
    }
  }

  &__svg {
    position: relative;

    &-tanuki svg {
      fill: #e24329;
    }

    &-tanuki-dark svg {
      fill: #656565;
    }

    &-chin {
      position: absolute;
      bottom: 0;
      left: 50%;

      transform: translate(-50%);

      & svg {
        fill: #fca326;
      }

      &-dark svg {
        fill: #535353;
      }
    }

    &-cheek-r {
      position: absolute;
      bottom: 9px;
      left: 0;

      & svg {
        fill: #fc6d26;
      }

      &-dark svg {
        fill: #a09f9f;
      }
    }
    &-cheek-l {
      position: absolute;
      bottom: 9px;
      right: 0;

      & svg {
        fill: #fc6d26;
      }

      &-dark svg {
        fill: #a09f9f;
      }
    }
  }
}
