@mixin font($color) {
  color: $color;

  font-size: 14px;
  line-height: 1.1428;
}

.root {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  gap: 4px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  gap: 8px;
}

.title {
  @include font(#1f75cb);

  cursor: pointer;
}

.text {
  @include font(#303030);

  transition: transform 150ms linear, height 150ms linear, width 150ms linear;

  &-container {
    overflow: hidden;

    padding: 3px;
  }

  &-hidden {
    height: 0;
    width: 0;

    transform: translateY(-100%);
  }
}

.button {
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  padding: 0;

  cursor: pointer;

  & div {
    width: 16px;
    height: 16px;
  }

  & svg {
    transition: transform 150ms linear;
  }

  &-svg svg {
    transform: rotate(-90deg);
  }
}
